<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBackButtonClick()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Letters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-full h-full flex flex-col flex-wrap">
    <div class="h-3/4 flex justify-center items-center">
      <span class="text-9xl">{{letter}}</span>
    </div>
    <div>
      <ion-button expand="block" size="large" (click)="onChangeLetter()">Change</ion-button>
      <ion-list>
        <ion-item>
          <ion-label>Avoid unusual letters</ion-label>
          <ion-toggle slot="end" [(ngModel)]="avoidUnusualLetters"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>